.container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: 100%;
  gap: 5px;
  .content__header {
    display: grid;
    grid-template-columns: 30px 40px 1fr 60px 60px 20px;
    justify-items: center;
    gap: 10px;
    padding: 10px 0;
    border: 1px solid black;
    .header__req {
      font-size: 16px;
    }
  }
  .empty {
    padding: 10px;
    font-size: 16px;
  }
}
