.container {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  .content {
    z-index: 15;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 300px;
    background-color: white;
    padding: 15px;
    .title {
      text-align: center;
      margin-bottom: 10px;
      font-size: 20px;
    }
    .label {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 16px;
      padding: 10px 0;
      .input {
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 5px;
      }
    }
    .btn__add {
      cursor: pointer;
      background-color: unset;
      font-size: 18px;
      border: 1px solid black;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
  .btn__close {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
    color: white;
    background-color: unset;
    font-size: 24px;
    border: none;
  }
}
